* {
    margin:0;
    padding:0;
    font-family: "San Francisco", "Helvetica Neue", "Lucida Grande";
}

body {
    background-color:#FAFAFA;
}

#cityTitle {
    color:#555;
    width:100%;
    margin:4% 0 0 0;
    font-weight: 300;
    font-size:40px;
    text-align: center;
    float:left;
    padding:0;
}

#descriptionTitle {
    color:#555;
    width:100%;
    margin:1% 0 0 0;
    font-weight: 300;
    font-size:20px;
    text-align: center;
    float:left;
    padding:0;
}

#tempTitle {
    color:#555;
    width:100%;
    margin:0 0 0 0;
    font-weight: 200;
    font-size:110px;
    text-align: center;
    float:left;
    padding:0;
}

#dayTitle {
    color:#555;
    width:97%;
    margin:0 0 3% 3%;
    font-weight: 300;
    font-size:20px;
    text-align: left;
    float:left;
    padding:0;
}

.weatherMain {
    background-color:transparent;
    float:left;
    width:100%;
    padding:0;
    margin:0;
}

.weatherHour {
    background-color:transparent;
    border-bottom:1px solid #eee;
    float:left;
    width:100%;
    padding:0;
    margin:0;
}

.weatherForecast {
    background-color:transparent;
    border-bottom:1px solid #eee;
    float:left;
    width:100%;
    padding:2% 0 2% 0;
    margin:0;
}

.container {
    margin:0;
    padding:0;
    width:100%;
    float:left;
}

.fcDayContainer {
    float:left;
    min-width:94%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:12% auto;
    padding:2% 3% 2% 3%;
}

.fcDayTitle {
    float:left;
    width:44%;
    color:#555;
    font-weight: 300;
    font-size:20px;
    text-align: left;
}

.fcDayTemp {
    float:right;
    width:auto;
    color:#555;
    font-weight: 300;
    font-size:20px;
    text-align: right;
}